
html {
	background:black ;
}
body{
	position: relative;
	background: white;
	width: 1000px;
	margin: 0 auto;
}

 #container {
	width: 950px;
	margin: 0 auto;
	padding: 10px;
	border-width: 5px;
	border-style: solid;
	background: #68CAE8;
	position: absolute;


}

#name {
	left: 50px ;
	top:  50px;
}


